h1 {
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  color: rgb(255, 94, 0);
  padding-left: 200px;
}

.heading {
  font-family: 'Brandon Grotesque', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  padding-left: 20px;
}

.input {
  width: 500px;
  height: 40px;
  margin: 10px;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 10px;
  border-color: lightgray;
}

::placeholder {
  font-family: AtlasGrotesk, sans-serif;
  text-align: left;
  font-size: 16px;
}

.select {
  text-align: left;
}

.submit {
  font-family: 'Brandon Grotesque', sans-serif;
  font-size: larger;
  color: white;
  background-color: rgba(241, 74, 74, 0.915);
  height: 40px;
  width: 100px;
  margin-left: 410px;
  border-radius: 30px;
  border-color: white;
}
